<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>callHome</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/docs.min.css">
    <link rel="stylesheet" href="views/less/css/custom.css">
    <link rel="stylesheet" href="views/less/css/growl.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="assets/js/jquery.min.js"></script>
</head>

<body class="inIframe">
    <div growl></div>
    <div class="container-fluid">
        <div class="urtype_sidebar" ng-controller="menuCtrl" ng-show="totalItems>0">
            <div class="urtype_menu">
                <ul class="sidebar_menu">
                    <li class="logo"><i class="fa fa-magnet"></i> rtype</li>
                    <li ng-repeat="m in menus" ng-click="workMenu(m.path)">
                        <a href="{[{m.path}]}" class="sidebarMenu" ng-class="m.selected" title="{[{m.name}]}"><i class="fa fa-{[{m.icon}]}"></i><span>{[{m.name}]}</span></a>
                        <ul>
                            <li ng-repeat="c in m.childs"><a href="{[{m.path}]}{[{c.path}]}">{[{c.name}]}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div ui-view class="col-xs-11 content"></div>
    </div>
      <!--[if lt IE 9]>
  	   <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  	<![endif]-->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.nestable.js"></script>
    <script src="views/less/js/growl.js"></script>
    <script src="models/app.js"></script>

</body>


</html>
